nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
li{
    display: inline;
    justify-content: space-between;
    margin: 13px;
    font-size: 16px;
}
h2{
    font-size: 15px;
}
.hh2{
    font-size: 25px;
    margin-top: 70px;
    font-weight: 400; 
}
p{
    font-size: 18px;
    color: #747474;
    font-weight: lighter;
}
.mar{
    margin-left: 15%;
    margin-right: 15%;
}
.img{
    margin-left: 45%;
}
.flex2{
    display: grid;
    grid-template-columns: 20px;
    grid-template-rows: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-areas: 10px;
    gap: 2%;
}
main{
    margin-left: 13.5%;
    margin-right: 13.5%;
}
.mark{
    margin-left: 8%;
    color: #00B3A1;
    font-size: 25px;
    font-weight: 100;
    font-family: Roboto , Arial, sans-serif;
}
.image{
    margin-left: 48%;
    margin-top: 35px;
}
.grid2{
    display: grid;
    grid-template-columns: 300px 1fr 1fr ; height: 345px;
    gap: 22px;

}
.col1{
    background-color: #00CCB1;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;

}
.col2{
    background-color: #508FE2;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;


}
.col3{
    background-color: #1B2734;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;

}
.tuotempo{
    width: 350px;
    height: 25px;
}
.gipo{
    width: 500px;
    height: 35px;
}
.section2{
    display: flex;
    justify-content: space-arounds;
    margin: 60px;
    content: icon;
}
.simple{
    width: 50px;
}
.section3{
    display: flex;
    justify-content: space-around;
    background-color: #D9F7F6;
    height: 690px;
}
.partiesection3b{
    display: grid;
    grid-template-columns:  250px 250px;
    grid-template-rows: 300px 300px;
    gap: 20px;
}
.col{
    width: 250px;
    height: 280px;
    background-color: #FFFFFF;
    align-items: center;
    margin-top: 18px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    }
.partiesection3a{
    width: 400px;
    font-size: 28px;
}
h3{
    color: #00B3A1;
}
.impro{
    margin-left: 30%;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 100;

}
.para{
    width: 500px;
    margin-left: 26%;
    font-size: 18px;
}
.colection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    color: #747474;
}
    
.bogota{
    width: 60px;
    height: 60px;
}
h4{
    text-align: center;
    font-size: 10px;
    color: #747474;
    margin-top: 160px;
    
}
.pays{
    color: #3D83DF;
}
footer{
    text-align: center;
    color: #747474;
}
.sounds{
    font-size: 20px;
    text-align: center;
}
h5{
    background:#1662C6 ;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 15px;
    padding: 10px;
    font-size: 13px;
    width: 200px;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, roboto, sans-serif;
    border-radius: 5px;

}
.fix{
    position: sticky;
    top: 0px;
    padding: 1px;
    background-color: #FFFFFF;
}
h1{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
}